.git
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
config.bat
node_modules

# environment variables
.env
.env.local
.env.production
